body {
    background-image: url('../res/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(5px);
  }

  